/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 768px;
    margin: 0 auto;
}
.inner_container{
    padding: 25px;
}
input[type="text"], input[type="email"], input[type="password"]{
    display: block;
    border: none;
    border-bottom: 1px solid grey;
    font-size: 15px;
    line-height: 30px;
    height: 30px;
    margin: 10px auto;
    width: 50%;
}
.submit_button{
    display: block;
    margin: 30px auto;
    width: 20%;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    background: indigo;
    color: #fff;
    border: none;
    outline: none;
    letter-spacing: 1px;
}